<div class="gallery">
    {{/*  figure out sorting later  */}}
    {{ range ( sort .Pages ".Params.id" "desc" )}}
        {{ $data := partial "get-json.html" . }}
        <div class="post">
            {{ $img_src := $data.preview.filepath }}
            <a href="/gallery/{{$data.id}}">
            {{ with resources.GetMatch $img_src }}
            <img class="post-image" src="{{ (.).RelPermalink }}" alt="{{ $data.title }}">
            {{ end }}
            </a>
        </div>
    {{ end }}
</div>