{{/* This only works because we're pulling from $.Site.Data.users */}}
{{/* 
ok so this shows up for
/users/ and /users/ID/comments
maybe i just make peace with the devil and 
flip this to a different layout if we're in deep?
*/}}
{{ define "main" }}
where
<div class='users'>
    <div class="users-header">
        <span>Username</span>
        <span>Comments</span>
        <span>Posts</span>
        <span>Benwa?</span>
    </div>
    <div class="users-entries">
    {{ range $.Site.Data.users }}
            <div class='user-row'>
                <span><a href="/users/{{.id}}">{{ .username }}</a></span>
                <span>{{ .num_comments }}</span>
                <span>{{ .num_posts }}</span>
                <span>no</span>
            </div>
    {{end}}
        </div>
{{ end }}
