.navbar {
  top: 0;
  height: 60px;
  width: 100%;
  position: sticky;
  background-color: #DCDCDC;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 600px) {
    .navbar {
      height: 80px; } }

.menu-wrapper {
  overflow: hidden;
  width: 60px;
  height: 60px;
  display: flex; }
  @media (min-width: 600px) {
    .menu-wrapper {
      padding: 0 0;
      width: auto;
      height: auto;
      justify-content: center;
      order: 1;
      flex-grow: 1; } }

.menu-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 20px;
  width: 100%; }
  .menu-button span {
    width: 20px;
    height: 20px; }
  .menu-button[aria-expanded="true"] {
    background-color: hotpink; }
  @media (min-width: 600px) {
    .menu-button {
      display: none; } }

.menu-content-container {
  display: none;
  left: 0;
  width: 100vw;
  top: 100%;
  margin-bottom: 5px; }
  .menu-content-container[aria-expanded="true"] {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #DCDCDC;
    z-index: 1;
    border-bottom: 1px solid #43039A; }
  @media (min-width: 600px) {
    .menu-content-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: auto; } }

.menu-content {
  padding: 12px 16px;
  text-decoration: none;
  border-top: 1px solid #43039A; }
  @media (min-width: 600px) {
    .menu-content {
      padding: 0px 4px;
      border: none; } }

.logo {
  position: static;
  padding: 0 10px; }
  @media (min-width: 600px) {
    .logo {
      order: 0; } }

.logo-image {
  width: 20px;
  height: 20px; }
  @media (min-width: 600px) {
    .logo-image {
      display: none; } }

.logo-text {
  display: none;
  overflow: hidden; }
  @media (min-width: 600px) {
    .logo-text {
      display: block;
      width: auto; } }

.login {
  padding: 0 20px; }
  @media (min-width: 600px) {
    .login {
      padding: 0 10px;
      order: 2; } }
