{{/* {{ $data := partial "get-json.html" . }} */}}

{{ $data := .Params}}
{{ $posts := $data.posts}}
{{ $likes := $data.likes}}

<div class="userstats">
<div class="user-wrapper">
<p>Username: {{ $data.username }}</p>
<p>Comments: <a href="/users/{{$data.id}}/comments/">{{ $data.num_comments}}</a></p>
<p>Benwa?: probably not </p>
{{ if $posts }}
    <p>Recent Posts: <a href="/users/{{$data.id}}/posts/">All - {{ (len $posts) }}</a></p>
    <div class='contains-images'>
        {{range first 3 (sort $posts "id" "desc")}}
        <div class="post">
        {{ $img_src := .preview.filepath }}
            <a href="/gallery/{{.id}}">
                <img class="post-image" src="{{ (resources.GetMatch $img_src).RelPermalink }}" alt="{{ .title }}">
            </a>
        </div>
        {{end}}
    </div>
{{ else }}
    <p>Recent Posts: <a href="/users/{{$data.id}}/posts/">All - 0</a></p>
{{ end }}

{{ if $likes }}
    <p>Recently they LOVE these benwa: <a href="/users/{{$data.id}}/likes/">All - {{ (len $likes) }}</a></p>
    <div class='contains-images'>
    {{ range first 3 ($likes)  }}
        <div class="post">
            {{ $img_src := .preview.filepath }}
                <a href="/gallery/{{.id}}">
                    <img class="post-image" src="{{ (resources.GetMatch $img_src).RelPermalink }}" alt="{{ .title }}">
                </a>
    </div>
    {{ end }}
    </div>
{{ else }}
<p>Recently they LOVE these benwa: <a href="/users/{{$data.id}}/likes/">All - 0</a></p>
{{ end }}
</div>
</div>
