<div class="gallery-wrapper">
    <div class='sidebar-wrapper'>
        <div class="tag-menu-wrapper">
        <button class="menu-button" id='sidebar-menu-button' data-hook='side-menu-toggle'>tags</button>
            <h3>tags</h3>
            <div class="tag-menu-content" id='tag-menu' aria-expanded="false" data-hook='tag-menu-content'>
                {{range ( sort .Params.tags "num_posts" "desc" )}}
                    <div class='tag'>
                        <a href="/tags/{{(replace .name " " "-" ) }}" class="tag-link">{{ .name }}</a>
                        <span>{{ .num_posts }}</span>
                    </div>
                {{end}}
            </div>
        </div>
    </div>

    <div class="gallery">
        {{ range ( sort .Params.posts "id" "desc" )}}
            {{ partial "gallery-preview.html" . }}
        {{ end }}
    </div>

    </div>