@import 'mixins';
@import 'layouts';

#content {
    @include content;
}

.boring-stuff {
    @include flex-col;
    @include text-block-col;
    @include text-block-inner;
}

.tag-search {
    @include flex-col;
    @include text-block-col;
    @include text-block-inner;

    .results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

