{% macro display_tags(tags) %}
    <div class="name">name</div>
    <div class="posts">posts</div>
    {% for tag in tags %}
    <div class="name"><a href="{{ url_for('gallery.show_posts', tags=tag.name) }}">{{ tag.name }}</a></div>
    <div class="posts">{{ tag.num_posts }}</div>
    {% endfor %}
{% endmacro %}

{% extends "layout.html" %}
{% block content %}
<div class="tag-search">
    <form action="{{ url_for('front.search')}}" method="POST">
        names {{ form.csrf_token }} {{ form.tags }}
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

    <div class="results">
        {{ display_tags(tags) }}
    </div>
</div>

{% endblock %}