@import '../mixins';
@import '../layouts';

.users {
    @include flex-col;
    @include text-block-col;
    @include text-block-inner;
}

@mixin l-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.users-header {
    @include l-row;
}

.user-row {
    @include l-row;
}

