<nav class='navbar'>
    <div class="menu-wrapper">
        <button class="menu-button" id='nav-menu-button' aria-expanded="false" data-hook='nav-menu-toggle'>+</button>
        <div class="menu-content-container" id='nav-menu' aria-expanded="false" data-hook="nav-menu-content">
            <a href="/gallery/" class="menu-content">benwas</a>
            <a href="/tags/" class="menu-content">tags</a>
            <a href="/users/" class="menu-content">benwusers</a>
            <a href="/comments/" class="menu-content">comments</a>
            <a href="/faq" class="menu-content">faq</a>
        </div>
    </div>

    <div class='logo'>
        {{/*  logo source  */}}
        {{$logo := resources.Get "logo.svg" }}
        <img class="logo-image" alt="benwa_online_logo" src="{{ $logo.Permalink }}">
        <div class='logo-text'><h3>Benwa <i>Online</i></h3></div>
    </div>
</nav>
