<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<style>  
.front {background-image:url({{ (resources.GetMatch "eyes2.jpg").RelPermalink }});}
</style>  

<body>
<section id="content" class="front">
    <div id="main" >
        {{- partial "frontboxes.html" . -}}
    </div>
</section>

{{/*  Pop up bullshit here  */}}
{{ partial "cookies/display.html" . }}
{{ partial "cookies/manage.html" . }}

{{ $jquery := resources.Get "jquery.min.js" }}
<script src="{{ $jquery.Permalink }}"></script>
{{ $js := resources.Get "scripts.js" }}
<script src="{{ $js.Permalink }}"></script>
</body>
</html>